<div id="carousel" class="carousel">
  <div class="item-1">
    <%= image_pack_tag 'cars/car1.jpg'%>
  </div>
  <div class="item-2">
    <%= image_pack_tag 'cars/car2.jpg'%>
  </div>
  <div class="item-3">
    <%= image_pack_tag 'cars/car3.jpg'%>
  </div>
  <div class="item-4">
    <%= image_pack_tag 'cars/car4.jpg'%>
  </div>  
  <div class="item-5">
    <%= image_pack_tag 'cars/car5.jpg'%>
  </div>  
  <div class="item-6">
    <%= image_pack_tag 'cars/car6.jpg'%>
  </div>
</div>